#welcome {
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
}
#welcome-div {
  height: 100dvh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

#the-best{
    display: flex;
    justify-content: space-around;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

section{
    margin: 5dvh 5dvw;
}
section ul, section ol{
    margin: 0 3dvw;
}

section h1 {
  text-align: center;
  font-size: clamp(1.5rem, 6vw, 2rem);
  margin-bottom: 3dvh;
}

#surname {
  background-color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

figure{
    width: fit-content;
    margin: 0 auto;
    float: left;
    margin-right: 4dvw;
    flex-wrap: wrap;
}

figure img{
    width: 100%;
    height: 70dvh;
}
